<%- include("components/_header",{siteTitle:"Chinese Cuision"}) %> 
	
<%- include("components/_navbar",{webTitle:"The Only place"}) %>

<!-- login modal //-->
<%- include("components/_login") %>
<!-- reservation modal //-->
<%- include("components/_reservation")%>
<!-- singup modal //-->
<%- include("components/_singup") %>

	<div class="container">
  <!-- img banner //-->
  <div class="public-banner">
    <div class="row">
      <div class="col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.6914681726394!2d-79.74043794989092!3d43.571311665639264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b41e2698c727d%3A0xe446b6dcd09d6b05!2sDalebrook+Crescent%2C+Mississauga%2C+ON!5e0!3m2!1sen!2sca!4v1460944884993" width="1170" height="500" frameborder="0" style="border:0" allowfullscreen="">
        </iframe>
      </div>
    </div>
  </div>
  <!-- about //-->
  <div class="page-body">
  <div class="row text-center">
    <div class="col-lg-4">
      <h3>Hours</h3>
      <p>Open 7 days a week 12pm to 9pm.</p>
    </div>
    <div class="col-lg-4">
      <h3>Location</h3>
      <p>
        3455 Dealbrook Cres<br>
        Mississauga, ON<br>
        905.123.1234
      </p>
    </div>
    <div class="col-lg-4">
      <h3>Reservations</h3>
      <p>
        For reservations, please call 905.123.1234. 24 hours
        notice required to cancel a reservation.
      </p>
    </div>
  </div>
</div>
</div>
  
 	<!-- footer //-->
<%-include("components/_footer")%>
