<%- include("components/_header",{siteTitle:"Chinese Cuision"}) %> 
	
<%- include("components/_navbar",{webTitle:"The Only place"}) %>

<!-- login modal //-->
<%- include("components/_login") %>
<!-- reservation modal //-->
<%- include("components/_reservation")%>
<!-- singup modal //-->
<%- include("components/_singup") %>

	<div class="container">
  <!-- page body //-->
  <div class="page-body" role="main">
    <!-- Breakfast //-->
    <div class="row">
      <div class="col-lg-12 col-sm-6 col-md-4">
        <h2 class="page-header">Breakfast</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#breakfast-modal">
              <img src="img/menu/steamed-pumpkin.jpg" width="250" height="250" alt="Food Feature 3">
          </a>
          <div class="caption">
            <h3>Steamed Pumpkin Buns</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#breakfast-modal">
              <img src="img/menu/Lo-mai-gai.jpg" width="250" height="250" alt="Lo Mai Gai">
          </a>
          <div class="caption">
            <h3>Lo Mai Gai</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#breakfast-modal">
              <img src="img/menu/youtiao.jpg" width="250" height="250" alt="You Tiao">
          </a>
          <div class="caption">
            <h3>You Tiao</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#breakfast-modal">
              <img src="img/menu/Spiced-Muti-layper.jpg" width="250" height="250" alt="Spiced Multi Layper">
          </a>
          <div class="caption">
            <h3>Spiced Multi Layper</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#breakfast-modal">
              <img src="img/menu/ho-fun-noodle.jpg" width="250" height="250" alt="Ho Fun Noodle">
          </a>
          <div class="caption">
            <h3>Ho Fun Noodle</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#breakfast-modal">
              <img src="img/menu/chicken-congee.jpg" width="250" height="250" alt="Chicken Congee">
          </a>
          <div class="caption">
            <h3>Chicken Congee</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
    </div>
    <!-- egg //-->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Egg
        <small>All egg are served with yam fries or salad.</small>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
           <a href="#" data-toggle="modal" data-target="#egg-modal">
              <img src="img/menu/tomato-and-egg.jpg" width="250" height="250" alt="tomato-and-egg">
          </a>
          <div class="caption">
            <h3>Chinese Tomato and Egg Stir Fry</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#egg-modal">
              <img src="img/menu/soy-sauce-eggs.jpg" width="250" height="250" alt="soy-sauce-eggs">
          </a>
          <div class="caption">
            <h3>Soy Sauce Eggs</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#egg-modal">
              <img src="img/menu/Chinese-egg-pancake.jpg" width="250" height="250" alt="Chinese Egg Pancake">
          </a>
          <div class="caption">
            <h3>Chinese Egg Pancake</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Hot Pot //-->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Hot Pot
        <small>All Hot Pot are served with yam fries or salad.</small>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#hotpan-modal">
              <img src="img/menu/equipment-needed-by-hot-pot.jpg" width="250" height="250" alt="Equipment Needed By Hot Pot">
          </a>
          <div class="caption">
            <h3>Needed By Hot Pot</h3>
            <p>Yummy and colorful Chinese Equipment Needed By Hot Pot.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
     <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#hotpan-modal">
              <img src="img/menu/shrimp-dry-potth.jpg" width="250" height="250" alt="Shrimp Dry Potth">
          </a>
          <div class="caption">
            <h3>Shrimp Dry Potth</h3>
            <p>Yummy and colorful Chinese Shrimp Dry Potth.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
     <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target="#hotpan-modal">
              <img src="img/menu/white-radish-dry-pot.jpg" width="250" height="250" alt="white radish dry pot">
          </a>
          <div class="caption">
            <h3>Pork Dry Pot with White Radish</h3>
            <p>Yummy and colorful Chinese steamed pumpkin buns.</p>
            <p class="price">$7</p>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>

<!--One way you can do this is with a JavaScript MVC library, such as Backbone or Angular.-->  
<!-- salad modal //-->
<div class="modal fade" id="breakfast-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Breakfast</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p><img src="img/menu/homemade-soy-milkth.jpg" width="400" height="267" alt="Soy milkth"></p>
          <h2>Soy milkth</h2>
          <p>A great healthy start to your meal.</p>
          <p class="price">$9</p>
        </div>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
<!-- Egg modal //-->
<div class="modal fade" id="egg-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Egg</h4>
      </div>
      <div class="modal-body">
        <div class="center">
          <p><img src="img/menu/salted-duck-egg.jpg" width="400" height="274" alt="Egg"></p>
          <h2>Salted Duck Egg</h2>
          <p>tomatoes, lettuce, cheese, salsa.</p>
          <p class="price">$12</p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- hot pan modal //-->
<div class="modal fade" id="hotpan-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Hot Pan</h4>
      </div>
      <div class="modal-body">
        <div class="center">
          <p><img src="img/menu/hot-chicken-pan.jpg" width="400" height="274" alt="Egg"></p>
          <h2>Hot Pan</h2>
          <p>tomatoes, lettuce, cheese, salsa.</p>
          <p class="price">$12</p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  

	<!-- footer //-->
<%-include("components/_footer")%>

	<!-- footer //-->
<div class="footer">
  <div class="container">
    <div class="col-lg-12">
      <address id="address">
      <strong>The Only Place</strong><br/>
       3455 DealBrook Cres / Mississauga, ON / 905.123.1234 <br/>
      <strong>Hours: Open 9am to 9pm 7 days a week</strong><br/>
      <div class="social-media">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
      <p>&copy; 2015 The Only Place</p>
      </address>
    </div>
  </div>
</div>



	<!-- javascript //-->
  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      // initalize tooltips
      $('[data-toggle="tooltip"]').tooltip();
      // initalize popovers
      $('[data-toggle="popover"]').popover();
    });
  </script>

</body>
</html>